@{
    ViewBag.Title = "Home Page";
}

<h3 class="text-center"> Tổng Quan Hệ Thống </h3>
<br />
<br />
<div class="card-content d-flex justify-content-around">
    <div class="card" style="width: 45%; height: 100px; line-height: 80px; ">
        <div class="card-body text-center" >
            <h4 class="card-title">18</h4>
            <p class="card-text">Số Lượng Nhân Viên</p>
        </div>
    </div>
    <div class="card" style="width: 45%; height: 100px; line-height: 80px;" >
        <div class="card-body text-center">
            <h4 class="card-title">18</h4>
            <p class="card-text">Số Lượng Phòng Ban</p>
        </div>
    </div>
</div>
